.Rproj.user
.Rhistory
.RData
.Ruserdata
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj
# Output
*.html
*.pdf
*.md
*.tex
*.docx

# knitr and R markdown default cache directories
*_cache/
/cache/
/www/
/useR_data/
/learnR_data/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.aux
*.synctex
# R Environment Variables
.Renviron
# pkgdown site
docs/
# Data
*.zip
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
